html, body {
    /* margin: 0; */
    height: 100%;
}
body {
    display: grid;
    /* grid-gap: 10px; */
    grid-template-columns: 1fr;
    grid-template-areas:
        "Nav"
        "Overview"
        "Footer";
    grid-template-rows: auto 1fr auto;
    background-color: black;
}

.cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #E63946;
	animation: fadeOutAnimation ease 10s;
	animation-iteration-count: 1;
	animation-fill-mode:forwards;
}

@keyframes fadeOutAnimation {
    0% {
		opacity: 1;
	}
    100% {
		opacity: 0;
	}
}

/****************************/
.navbar,
.navbar-header,
.navbar-list,
.navbar-list-item,
.navbar-icon,
.navbar-link,
.navbar-link-with-icon,
.navbar-toggle,
.logo,
.form,
.form-title,
.form-label,
.form-input,
.form-textarea,
.form-button,
.hero,
.hero-section,
.hero-content,
.title,
.title2,
.content,
.hero-btn,
.btn-link,
.hero-img,
.img,
.about,
.about-title,
.about-content,
.about-section,
.about-btn,
.about-link,
.services,
.services-collection,
.services-title,
.service-option,
.option-title,
.option-img,
.option-content,
.ourwork,
.ourwork-section,
.ourwork-title,
.slideshow-container,
.mySlides,
.carasouelImg,
.fade,
.numbertext,
.text,
.prev,
.next,
.dot,
.overview,
.card-collection,
.card-collection-title,
.card,
.card-title,
.card-image,
.card-content,
.card-links,
.card-link,
.card-link-icon,
.footer,
.website-rights,
.social-icons,
.social-icon-link,
.open-button
{
    display:grid;
    box-sizing: border-box;
    grid-gap:0;
    padding:10px;
    color: white;
    text-decoration: none;
}

/***********NAVBAR*****************/
.navbar{
    grid-area: Nav;
    grid-auto-flow:column;
    grid-template-columns: 1fr auto;
    background-color: black;
    width: 75%;
    justify-self: center;
    align-items: center;
}
.navbar-header{
    padding:0;
}
.logo--navbar{
    font-family: Zen Tokyo Zoo;
    font-size: 4rem;
}
.navbar-list{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}
.navbar-list--main{
    grid-auto-flow:column;
    grid-gap:0;
    justify-content: left;
    margin-top: 10px;
}

.navbar-list--dropdown {
    position: absolute;
    top: 70px;
    background-color: black;
    padding: 10px;
}

.navbar-list--dropdown>li{
    padding: 10px;
}
.navbar-list-item{
    padding:0;
}
.navbar-link:hover,.navbar-link:active,.navbar-link:focus{
    color:#E63946;
}
.navbar-link-with-icon{
    cursor:pointer;
    padding:0;
    grid-auto-flow: column;
    justify-content: space-between;
}
.navbar-link{
    color:inherit;
}
.navbar-link--active{
    color:#E63946;
}

/***********CONTACT US FORM*****************/
.form{
    width: 300px;
    position: fixed;
    bottom:0;
    right:0;
    grid-gap:10px;
    border:1px solid #777;
    border-radius: 3px;
    background-color:white;
    color:black;
    font-family: 'Raleway', sans-serif;    
}
.form-title{
    font-size: 2em;
}
.form-input,.form-textarea,.form-label,.form-title,.form-button{
    color:inherit;
    font-family: inherit;
}
.form-button{
    color:white;
    border-radius: 10px;
}
.form-button--send{
  background-color: #04AA6D;
  border: 1px solid #04AA6D;
}
.form-button--cancel{
    background-color: #E63946;;
    border: 1px solid #E63946;;
  }

/************HOME PAGE****************/
.hero {
    background-color: #fff;
}

.hero-section {
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.hero-content {
    align-items: center;
    height: 50%;
}
.title, .title2, .content, .btn-link {
    color: black;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    padding-top: 40px;
    align-self: center;
    height: fit-content;
}

.title2 {
    font-size: 3rem;
    height: fit-content;
}

.hero-img {
    width: 100%;
}

.img {
    align-content: center;
}
.content {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-items: center;
}

.hero-btn {
    width: fit-content;
    height: fit-content;
    justify-self: center;
    border-radius: 30px;
    background-color: #ffb100;
    border:#ffb100;
    color: black;
    font-size: 1.2rem;
}

/************ABOUT****************/
.about {
    background-image: url(/assets/imgs/cool-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-title, .about-section {
    color: white;
    font-family: 'Raleway', sans-serif;
}
.about-title {
    font-size: 4rem;
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
}

.about-section {
    padding-bottom: 50px;
}

.about-content {
    font-size: 1.5rem;
    padding-bottom: 50px;
    text-align: block;
}

.about-btn {
    width: fit-content;
    height: fit-content;
    justify-self: center;
    border-radius: 30px;
    background-color: #ffb100;
    border:#ffb100;
    font-size: 1.2rem;
}

.about-link {
    text-decoration: none;
    color: black;
}

/************SERVICES****************/
.services {
    background-color: #fff;
}
.services-collection{
    grid-auto-flow: column;
    padding: 30px 20px 40px;
}
.services-title, .option-title, .option-content{
    color: black;
    font-family: 'Raleway', sans-serif;

}

.services-title {
    font-size: 4rem;
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
}
.option-img{
    max-width:650px;
    width: 100%;
}
.option-title{
    font-size: 2.5rem;
    padding-bottom: 20px;
    text-align: center;
}

.option-content{
    font-size: 1.5rem;
    padding-bottom: 20px;
    text-align: center;
}

/************OUR WORK****************/
.ourwork {
    background-color: #fff;
}
.ourwork-section{
    padding:0;
}
.ourwork-section, .ourwork-title {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.ourwork-title {
    font-size: 4rem;
    text-align: center;
    padding-top: 40px;
}

/* Slideshow container */
.slideshow-container {
    grid-template-areas:"Prev Slide Next";
    align-items: center;
    width: 100%;
    padding: 0;
    border: #ffb100;
    touch-action: none;
    
  }
  
  /* Hide the images by default */
  .mySlides {
    grid-area:Slide;
    grid-auto-flow: row;
    display: none;
    padding:0;
  }
  .prev{
    grid-area:Prev;
  }
  .next{
    grid-area:Next;
    border-radius: 3px 0 0 3px;
  }
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    color: #E63946;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: black;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;

  }
  
  /* Number text (1/4 etc) */
  .numbertext {
    color: #E63946;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
  }
  
  .carasouelImg {
    width:100%;
    margin: auto;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #E63946;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/************MEET THE TEAM****************/
.overview{
    background-color: #fff;
}
.card-collection{
    grid-gap:30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    justify-items: center;
    justify-self:center;
    max-width:75%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.card-collection-title{
    color: black;
    font-family: "Kumbh Sans", sans-serif;
    font-size:4rem;
    text-align: center;
    padding: 40px 40px 0px;
}
.card{
    color:black;
    border:1px solid #c7c7c7;
    border-radius:3px;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%,rgba(17, 17, 17, 0.6) 100%);
    background-size: cover;
    box-shadow: 3px 3px 12px #d5d5d5;
    font-family: 'Raleway', sans-serif;
    grid-auto-flow: dense;
    transition: all 180ms ease-in-out;
    /* height: 480px; */
    /* width: 370px; */
    min-width:300px;
    max-width:400px;
}
.card:last-child{
    grid-column: 1 / -1/*center grid item inside row*/
}
.card:hover,.card:focus,card:active{
    transform: scale(1.05);
}
.card-image{
    border-radius: 100px;
    justify-self: center;
}
.card-title{
    color:black;
    font-size:2em;
    font-weight: bold;
}
.card-content{
    color:inherit;
}

.card-link-icon,.card-link{
    padding:0;
    color:inherit;
    font-size:1.75em;
}

.card-link-icon {
    color: #E63946;
}
.card-link{
    padding:10px;
    /* background-color: #d5d5d5; */
   /* border:1px solid #c7c7c7; */
    border-radius: 5px;
}
.card-links{
    width:auto;
    grid-auto-flow: column;
    justify-content: right;
    grid-gap:10px;
    color:#333;
    margin-bottom:10px;
}

/***********FOOTER*****************/
.footer{
    grid-area: Footer;
    grid-template-areas:"Logo Rights Social Button";
    align-items: center;
    background-color: black;
    font-family: 'Raleway', sans-serif;
}
.logo--footer{
    grid-area: Logo;
    font-family: Zen Tokyo Zoo;
    font-size: 2rem;
}
.website-rights{
    grid-area: Rights;
}
.social-icons{
    grid-area: Social;
    grid-auto-flow: column;
    width:auto;
    justify-content: left;
    color: #ffb100;
}
.social-icon-link{
    color:inherit;
}
.open-button{
    grid-area: Button;
    background-color: inherit;
    border-style: none;
    font-size:1em;
}
/****************************/
.--hide{
    display:none;
}

/************Small***********/
@media screen and (max-width:767px){
    .navbar{
        grid-auto-flow:row;
        min-width:315px;
        grid-template-columns: auto;
        height:unset;
        width:100%;
        justify-self:auto;
        
    }
    .navbar-header{
        grid-auto-flow:column;
        align-items: center;
        justify-content:space-between;
    }
    .navbar-toggle{
        display:grid;
        font-size:2rem;
    }
    .navbar-list--main{
        grid-auto-flow:row;
        display:none;
    } 
    .navbar-list--dropdown{
        position: initial;
        top: unset;
        background-color: inherit;
        padding: auto;
    }
    .navbar-list--dropdown>li{
        padding: auto;
    }
    .navbar-list-item--has-list{
        max-width: 100%;
    }
    .overview{
        padding:0;
    }
    .card-collection{
        grid-auto-flow: row;
        grid-template: unset;
        max-width:100%;
    }
    .card {
        width: 100%;
    }
    .footer{
        grid-template-areas:
        "Logo X"
        "Rights Button"
        "Social Y";
    }
    .services-collection{
        grid-auto-flow: row;
    }
    .hero-section{
        grid-auto-flow: row;
        grid-template-columns: auto;

    }
    .hero-content {
        height: unset;
    }
}
/***********Medium***********/
@media  screen and (min-width:768px) and (max-width: 1023px) {  
    .hero-section{
        grid-auto-flow: row;
        grid-template-columns: auto;

    }
    .hero-content {
        height: unset;
    }
}
/***********Large************/
@media screen and (min-width:1024px){
    .card-collection{
        grid-auto-flow: column;
        grid-template: unset;
        max-width:100%;
    }
}